/* Intestazioni generali della pagina */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(255, 208, 153);
}

h1{
  padding: 10px;
}

.centratura{
  text-align: center;
}

#risultWin{
  color: green;
  font-size: 50px;
}

#risultLose{
  color:red;
  font-size: 50px;
}
